<h2> <%= @nonprofit.name %> </h2>

<p><%= link_to "Donate to #{@nonprofit.name}", new_nonprofit_donation_path(@nonprofit), class: "btn btn-primary" %></p>

<br>
<div id="nonprofit-only">
  <h4>Edit Nonprofit:</h4>
  <%= render 'form' %>

  <br>
  <p><%= link_to "Delete Nonprofit", nonprofit_path, data: {method: "delete"}, class: "btn btn-danger" %></p>
</div>
